.bg-purpule{
    background-color: rgb(127, 242, 219);
}
.body{
    background-color: rgb(127, 242, 219);
    
  }
  .input-group{
    width: 500px
  }
  .text-start{
  text-underline-offset:10px ;
  width: 854px;
  }
 .textm{
    background-color: rgb(235, 185, 224);
    text-align: end;padding-bottom: 20px;
 }
 .textm>p{
    padding-right: 200px;
 }
.fs-4{
   margin-top: 10px;
  
} 
.ms5{
margin: left 65px; 
}
.last{
   width:1348px;
}
