.bg-purpule{
    background-color: rgb(127, 242, 219);
}
.body{
    background-color: rgb(127, 242, 219);
  }
  .input-group{
    width: 500px
  }
  .text-start{
  text-underline-offset:10px ;
  width: 854px;
  }
 .textm{
    background-color: rgb(235, 185, 224);
    text-align: end;padding-bottom: 20px;
 }
 .textm>p{
    padding-right: 200px;
 }
 .facebook{
   color: rgb(0, 153, 255);
 }
 .certified{
   color: rgb(255, 247, 0);
 }
 .green{
   color: rgb(102, 255, 0);
 }
 .Love{
   color: rgb(255, 30, 0);  
 }